{{> head}}
<!-- Header -->
{{> header}}

<main role="main">

<section class="mast pad-lg">
  <div class="grid-sm">
    <h1 class="mast__title">The Jumpoff LPs</h1>
    <h2 class="mast__subtitle color-alpha">A Gulp Workflow Landing Page Project Starter.</h2>
    <hr class="sep">
    <p class="mast__text">Just a little starter for dealing with multiple static projects, needing specific and common assets, within the same Gulp Project. A `Common` directory houses reuseable HBS partials and resueable js libs. All other assets are housed within their respective subdirectories (ie; `/lp-1`, `/lp-2`, etc)</p>

    </div>
  </div>
</section>

</main>

<!-- Footer -->
{{> footer}}
